.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 33%;
  height: 10rem;
  font-size: 1rem;
  font-weight: 300;
  background-color: rgb(252, 252, 253);
  border: 2px solid black;
  border-radius: 0.8rem;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0.8rem 0.1rem 2rem rgba(0, 0, 0, 0.3);
}
.container:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}

.container button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: red;
}
.container button:hover {
  background-color: rgb(73, 3, 3);
  color: white;
  cursor: pointer;
}
